<div class="container">
    <h4>{{ section.settings.heading }}</h4>
    <div class="row">
        {% for product in collections[section.settings.products_collection].products %}
            <div class="col-md-4">
                {{ product.featured_media | img_url: 'master' | img_tag }}
                {{ 'product-1' | placeholder_svg_tag }}
                <!-- <p>{{ product.title }}</p> -->
                <button class="btn btn-success">Ver producto</button>
            </div>

        {%endfor%}
        <!-- <div class="col-md-4">
            {{ 'product-1' | placeholder_svg_tag }}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, dolor.</p>
            <button class="btn btn-success">Ver producto</button>
        </div>
        <div class="col-md-4">
            {{ 'product-1' | placeholder_svg_tag }}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, dolor.</p>
            <button class="btn btn-success">Ver producto</button>
        </div>
        <div class="col-md-4">
            {{ 'product-1' | placeholder_svg_tag }}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, dolor.</p>
            <button class="btn btn-success">Ver producto</button>
        </div> -->
    </div>
</div><!--/.container-->

{% schema %}
{
    "name": "Grid Products",
    "tag": "section",
    "class": "grid",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Hello"
        },
        {
            "type": "collection",
            "label": "Choose a collection",
            "id": "products_collection"
        }
    ]
}
{% endschema %}